# Бинарники и временные файлы
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# сгенерированные файлы
internal/di/wire_gen.go

# IDE/Editor
.vscode/
.idea/
*.swp
*~
.DS_Store

# Логи
*.log

# Vendor (если не требуется хранить в git)
# vendor/ 